name: 'Build'

on:
  push:
    tags:
      - '*'

jobs:
  build_duckdb:
    # https://github.com/duckdb/duckdb/blob/1a9dc44fc96725e03a258270bfe397460d882917/.github/workflows/BundleStaticLibs.yml#L163
    strategy:
      matrix:
        config:
          - runner: ubuntu-latest
            image: x86_64
            vcpkg_target_triplet: x64-linux
            platform: linux/amd64
          - runner: ubuntu-24.04-arm
            image: aarch64
            vcpkg_target_triplet: arm64-linux
            platform: linux/arm64
    name: 'Build Static DuckDB Library (${{ matrix.config.vcpkg_target_triplet }})'
    runs-on: ${{ matrix.config.runner }}
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
      - name: 'Setup QEMU'
        uses: docker/setup-qemu-action@v3
      - name: 'Setup Buildx'
        uses: docker/setup-buildx-action@v3
      - name: 'Build'
        uses: docker/build-push-action@v6
        with:
          push: false
          platforms: ${{ matrix.config.platform }}
          build-args: |
            IMAGE=${{ matrix.config.image }}
            EXTENSION_CONFIG=extension_config.cmake
            VCPKG_TARGET_TRIPLET=${{ matrix.config.vcpkg_target_triplet }}
            DUCKDB_GIT_REF=v1.4.2
            VCPKG_GIT_REF=ce613c41372b23b1f51333815feb3edd87ef8a8b
          outputs: "type=local,dest=./dist"
      - name: 'Rename File'
        run: mv "dist/libduckdb_bundle.a" "dist/libduckdb_bundle-${{ matrix.config.vcpkg_target_triplet }}.a"
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: 'libduckdb_bundle-${{ matrix.config.vcpkg_target_triplet }}.a'
          path: 'dist/libduckdb_bundle-${{ matrix.config.vcpkg_target_triplet }}.a'

  release:
    if: github.ref_type == 'tag'
    name: 'Release'
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: build_duckdb
    steps:
      - name: 'Download Artifacts'
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          pattern: 'libduckdb_bundle-*.a'
          merge-multiple: true
      - name: 'Release'
        uses: softprops/action-gh-release@v2
        with:
          files: 'artifacts/**/libduckdb_bundle-*.a'
          make_latest: true
